<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Home page</title>
</head>
<body>
	<section>
		<h1>Please Log In</h1>
		<div th:if="${param.error}">Invalid Username and Password.</div>
		<div th:if="${param.logout}">You have been logged out.</div>
		<form th:action="@{/login}" method="post">
			<div>
				<input type="text" th:name="username" placeholder="Username"
					required>
			</div>
			<div>
				<input type="password" th:name="password" placeholder="Password"
					required>
			</div>
			<div>
				<input type="submit" value="Submit">
			</div>
		</form>
	</section>
</body>
</html>