<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Home page</title>
</head>
<body>
	<section>
		<h1>Update Note</h1>
		<form th:action="@{/update-note}" method="post" th:object="${snote}">
			<input style="display: none" th:field="*{noteId}"> <input
				style="display: none" th:field="*{createdAt}"
				th:value="${#dates.format(snote.createdAt, 'yyyy-MM-dd HH:mm:ss')}">
			<div>
				<label for="title">Enter the title</label> <input type="text"
					th:field="*{title}">
			</div>
			<div>
				<label for="content">Enter the Content</label>
				<br>
				<textarea th:field="*{content}" rows="4" cols="50"></textarea>
			</div>
			<div>
				<input type="submit" value="Submit">
			</div>
		</form>
		<div>
			<button onclick="window.location.href='auth/profile';return false;">Back</button>
		</div>
	</section>
</body>
</html>